@font-face {
    font-family: 'Germania';
    src: local('Germania One Regular'), local('Germania-One-Regular'),
        url('./fonts/GermaniaOne-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.germania {
    font-family: "Germania";
}

body {
    background: url('../public/voidfishbg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.percentage-display {
    font-size: 4em;
    font-family: "Germania";
    /* color: white; */
}
